<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Liste des catégories</h2>
    </div>
  </div>
</div>
<% include ./partials/footer %>
