<% include ./partials/header %>
<% include ./partials/navbar %>

<div class="fullback">

<div class="container center">
  <div class="spacer"></div>
  <div class="jumbotron">
    <h1 class="center">Bienvenue sur Recette<b>Maker</b></h2>
    <h3 class="center">Le but de ce site est de pouvoir faire des recettes <b>facilement</b></h3>
    <a class="btn btn-warning btn-lg" href="/recette/"> <i class="fa fa-arrow-right" aria-hidden="true"></i> Recetter maintenant</a>
  </div>


  <div class="col-md-4">
    <div class="iconbox">
      <div class="iconbox-icon">
        <span><i class="fa fa-rocket" aria-hidden="true"></i></span>
      </div>
      <div class="featureinfo">
        <h4 class="text-center">SUPER RAPIDE!</h4>
        <p>
          Faire des recettes n'a jamais été aussi <b>rapide</b>!
        </p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="iconbox">
      <div class="iconbox-icon">
        <span><i class="fa fa-eye" aria-hidden="true"></i></span>
      </div>
      <div class="featureinfo">
        <h4 class="text-center">Une vue rapide et efficace</h4>
        <p>
          Fini les classeurs de 100 pages <br>A vous <b>la simplicité</b>!
        </p>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="iconbox">
      <div class="iconbox-icon">
        <span><i class="fa fa-smile-o" aria-hidden="true"></i></span>
      </div>
      <div class="featureinfo">
        <h4 class="text-center">C'est gratuit!</h4>
        <p>
          Pourquoi payer quand on peut utiliser un super outil <b>gratuit</b>!
      </div>
    </div>
  </div>

</div>

</div>

<% include ./partials/footer %>
